@import "./../../../css/classMainPage.module.scss";
.mainServic {
  @include sizeContainerGrid();
  .main_container_servic {
    @include sizeContainerGrid();
    background-color: var(--color-white);
    padding: 17px;
    justify-content: space-between;
    border-radius: 20px;
    grid-template-columns: 137px 48px 100px;
    grid-template-rows: 100%;
    grid-template-areas: "text price button";
    section:nth-child(1) {
      grid-area: text;
    }
    section:nth-child(2) {
      grid-area: price;
    }
    section:nth-child(3) {
      grid-area: button;
    }
  }
}
