@import "./../../../../css/classMainPage.module.scss";
.choice {
  @include sizeContainerGrid();
  display: flex;
  justify-content: center;
  align-items: center;
  .choice_container {
    display: flex;
    justify-content: space-around;
    width: getW();
  }
}
