* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$rows: (
  783px 774px 1100px 417px 660px 970px 561px 321px 608px 835px 838px 462px 589px
);
.main {
  display: grid;
  grid-template-rows: $rows;
  justify-content: center;
  grid-template-columns: 100%;
  & > * {
    border: 0.1px solid var(--color-orange);
  }
}
@function getW() {
  @return calc(100vw - 32px);
}
@mixin sizeContainerGrid(){
   display: grid;
  width: 100%;

  height: 100%;
  
}