.radio {
  input[type="radio"]:checked ~ label {
    border-bottom: none;
    color: var(--color-white);
  }
  label {
    color: var(--color-orange);
    padding: 5px;
    border-bottom: 2px dashed #ffffff;
  }
}
