@import "./../../../../../MainPage/css/classMainPage.module.scss";

form {
  button {
    width: 100%;
  }
 
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: getW();
  grid-template-rows: 100px 100px 100px 70px 70px 70px 60px 60px;
  grid-template-areas:
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "section7"
    "section8";
  @for $i from 1 to 9 {
    section:nth-of-type(#{$i}) {
      grid-area: section#{$i};
      background-color: var(--color-backGround2);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 20px;
      @if ($i<7) {
        border-radius: 20px;
      } @else {
        border-radius: 29px;
      }
    }
  }
  row-gap: 10px;
  align-items: center;
}
input[type="radio"] {
  display: none;
}

.allServices,
.allTypeJob {
  top: 100%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--color-white);
  @include posElem();
  transition: top 0.2s ease-in-out;
}
input[name="openOrClose"]:checked ~ .allServices,
input[id="openWorker"]:checked ~ .allTypeJob {
  top: 0;
  z-index: 10;
}
.phone,
.names {
  div {
    width: 100%;
    height: 90%;
    input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      font-size: 20px;
      background-color: var(--color-backGround2);
    }
  }
}
.cars {
  div {
    width: 100%;
    height: 100%;
    position: relative;
    button {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translate(0%, -50%);
      pointer-events: none;
    }

    select {
      position: relative;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      appearance: none;
      background-color: var(--color-backGround2);
      &:focus option {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }
}
.buttons {
  @include posElem();
  flex-direction: column;
  row-gap: 5px;
}
.counter {
  @include posElem();
  flex-direction: column;
  row-gap: 10px;
  align-items: start;
}
.img1 {
  @include posElem();
  column-gap: 11px;
  p {
    font-size: 1rem;
  }
}
.date {
  div {
    position: relative;
    @include posElem();
    flex-direction: column;
    p {
      position: absolute;
      top: 0;
      left: 0;
    }
    width: 100%;
    height: 100%;
  }
}
.service {
  div {
    @include posElem();
    column-gap: 11px;
  }
}
.typeWork {
  div {
    @include posElem();
    column-gap: 11px;
  }
}
