:root {
  --color-orange: #ed9121;
  --color-white: #ffffff;
  --color-gray: #ececec;
  --color-black: #000000;
  --color-grayLight: #e5e5e5;
  --color-backGround1: #2f2f2f;
  --color-backGround2: #f4f4f4;
  --color-backGround3: #212121;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
