:root{
  --color-orange:#ED9121;
  --color-white:#FFFFFF;
  --color-gray:#ECECEC;
  --color-black:#000000;
  --color-grayLight:#E5E5E5;
  --color-backGround1:#2F2F2F;
  --color-backGround2:#F4F4F4;
  --color-backGround3:#212121;
}