@import "./../../css/classMainPage.module.scss";
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-backGround3);
  .section_container {
    @include sectionCpntainer();
  }
}
