@import './../../css/classMainPage.module.scss';

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-backGround2);
  .section_container {
    $allGapRow: (29px, 40px, 16px, 16px, 16px, 16px);
    width: getW();
    @include sizeContainerGrid();
    grid-template-columns: getW();
    justify-content: center;
    grid-template-rows: 283px 106px 93px 93px 93px 66px;
    grid-template-areas: "section1" "section2" "section3" "section4" "section5" "section6";
    @for $i from 1 to 7{
      .section#{$i}{
          grid-area: section#{$i};
          border: 1px solid rgb(144, 7, 255);
          padding-top: nth($allGapRow, $i);
          @include sizeContainerGrid();
          
      }
    } 

  }
}
